body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1298px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u29_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:937px;
  height:2px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:201px;
  width:936px;
  height:1px;
}
#u29_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#949494;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:124px;
  width:423px;
  height:52px;
  font-size:36px;
  color:#949494;
}
#u30_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:423px;
  word-wrap:break-word;
}
#u31_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:937px;
  height:2px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:680px;
  width:936px;
  height:1px;
}
#u31_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:904px;
  top:612px;
  width:140px;
  height:42px;
}
#u32_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:136px;
  word-wrap:break-word;
}
#u33_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:88px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
}
#u33 {
  border-width:0px;
  position:absolute;
  left:833px;
  top:220px;
  width:113px;
  height:88px;
}
#u33_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:109px;
  word-wrap:break-word;
}
#u34_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:88px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
}
#u34 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:318px;
  width:113px;
  height:88px;
}
#u34_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:109px;
  word-wrap:break-word;
}
#u35_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:88px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
}
#u35 {
  border-width:0px;
  position:absolute;
  left:956px;
  top:220px;
  width:113px;
  height:88px;
}
#u35_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:109px;
  word-wrap:break-word;
}
#u36_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:88px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
}
#u36 {
  border-width:0px;
  position:absolute;
  left:1079px;
  top:316px;
  width:113px;
  height:88px;
}
#u36_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:109px;
  word-wrap:break-word;
}
#u37_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:88px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
}
#u37 {
  border-width:0px;
  position:absolute;
  left:833px;
  top:318px;
  width:113px;
  height:88px;
}
#u37_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 102, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u37.selected {
}
#u37_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:109px;
  word-wrap:break-word;
}
#u38_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:88px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
}
#u38 {
  border-width:0px;
  position:absolute;
  left:956px;
  top:318px;
  width:113px;
  height:88px;
}
#u38_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:109px;
  word-wrap:break-word;
}
#u39_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:88px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
}
#u39 {
  border-width:0px;
  position:absolute;
  left:1079px;
  top:218px;
  width:113px;
  height:88px;
}
#u39_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 102, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u39.selected {
}
#u39_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:109px;
  word-wrap:break-word;
}
#u40_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:88px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
}
#u40 {
  border-width:0px;
  position:absolute;
  left:833px;
  top:416px;
  width:113px;
  height:88px;
}
#u40_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:109px;
  word-wrap:break-word;
}
#u41_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:88px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
}
#u41 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:416px;
  width:113px;
  height:88px;
}
#u41_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:109px;
  word-wrap:break-word;
}
#u42_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:88px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
}
#u42 {
  border-width:0px;
  position:absolute;
  left:956px;
  top:416px;
  width:113px;
  height:88px;
}
#u42_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:109px;
  word-wrap:break-word;
}
#u43_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:88px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
}
#u43 {
  border-width:0px;
  position:absolute;
  left:1079px;
  top:414px;
  width:113px;
  height:88px;
}
#u43_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:109px;
  word-wrap:break-word;
}
#u44_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:65px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:387px;
  width:100px;
  height:64px;
  font-size:18px;
}
#u44_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:458px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:left;
  line-height:18px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:212px;
  width:191px;
  height:458px;
  font-size:18px;
  text-align:left;
  line-height:18px;
}
#u45_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:2px;
  width:151px;
  word-wrap:break-word;
}
#u46_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:88px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
}
#u46 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:220px;
  width:113px;
  height:88px;
}
#u46_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:88px;
  background:inherit;
  background-color:rgba(102, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
}
#u46.mouseDown {
}
#u46_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:88px;
  background:inherit;
  background-color:rgba(102, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
}
#u46.selected {
}
#u46_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:109px;
  word-wrap:break-word;
}
#u47_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:88px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
}
#u47 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:514px;
  width:113px;
  height:88px;
}
#u47_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:109px;
  word-wrap:break-word;
}
#u48_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:23px;
  background:inherit;
  background-color:rgba(51, 255, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
}
#u48 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:680px;
  width:97px;
  height:23px;
}
#u48_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:93px;
  word-wrap:break-word;
}
#u49_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:23px;
  background:inherit;
  background-color:rgba(51, 255, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
}
#u49 {
  border-width:0px;
  position:absolute;
  left:1201px;
  top:680px;
  width:97px;
  height:23px;
}
#u49_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:93px;
  word-wrap:break-word;
}
#u50_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:23px;
  background:inherit;
  background-color:rgba(51, 255, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
}
#u50 {
  border-width:0px;
  position:absolute;
  left:853px;
  top:680px;
  width:97px;
  height:23px;
}
#u50_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:93px;
  word-wrap:break-word;
}
