body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1298px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u113_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:937px;
  height:2px;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:201px;
  width:936px;
  height:1px;
}
#u113_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#949494;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:124px;
  width:423px;
  height:52px;
  font-size:36px;
  color:#949494;
}
#u114_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:423px;
  word-wrap:break-word;
}
#u115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:937px;
  height:2px;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:680px;
  width:936px;
  height:1px;
}
#u115_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
}
#u116 {
  border-width:0px;
  position:absolute;
  left:538px;
  top:261px;
  width:113px;
  height:88px;
}
#u116_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:109px;
  word-wrap:break-word;
}
#u117_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
}
#u117 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:359px;
  width:113px;
  height:88px;
}
#u117_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:109px;
  word-wrap:break-word;
}
#u118_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:88px;
  background:inherit;
  background-color:rgba(51, 255, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
}
#u118 {
  border-width:0px;
  position:absolute;
  left:661px;
  top:261px;
  width:113px;
  height:88px;
}
#u118_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:109px;
  word-wrap:break-word;
}
#u119_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
}
#u119 {
  border-width:0px;
  position:absolute;
  left:784px;
  top:357px;
  width:113px;
  height:88px;
}
#u119_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:109px;
  word-wrap:break-word;
}
#u120_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
}
#u120 {
  border-width:0px;
  position:absolute;
  left:538px;
  top:359px;
  width:113px;
  height:88px;
}
#u120_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 102, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u120.selected {
}
#u120_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:109px;
  word-wrap:break-word;
}
#u121_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
}
#u121 {
  border-width:0px;
  position:absolute;
  left:661px;
  top:359px;
  width:113px;
  height:88px;
}
#u121_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:109px;
  word-wrap:break-word;
}
#u122_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:88px;
  background:inherit;
  background-color:rgba(51, 255, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
}
#u122 {
  border-width:0px;
  position:absolute;
  left:784px;
  top:259px;
  width:113px;
  height:88px;
}
#u122_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 102, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u122.selected {
}
#u122_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:109px;
  word-wrap:break-word;
}
#u123_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:88px;
  background:inherit;
  background-color:rgba(51, 255, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
}
#u123 {
  border-width:0px;
  position:absolute;
  left:538px;
  top:457px;
  width:113px;
  height:88px;
}
#u123_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:109px;
  word-wrap:break-word;
}
#u124_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
}
#u124 {
  border-width:0px;
  position:absolute;
  left:661px;
  top:457px;
  width:113px;
  height:88px;
}
#u124_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:109px;
  word-wrap:break-word;
}
#u125_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
}
#u125 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:457px;
  width:113px;
  height:88px;
}
#u125_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:109px;
  word-wrap:break-word;
}
#u126_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:88px;
  background:inherit;
  background-color:rgba(51, 255, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
}
#u126 {
  border-width:0px;
  position:absolute;
  left:784px;
  top:455px;
  width:113px;
  height:88px;
}
#u126_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:109px;
  word-wrap:break-word;
}
#u127_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:65px;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:387px;
  width:100px;
  height:64px;
  font-size:18px;
}
#u127_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
}
#u128 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:261px;
  width:113px;
  height:88px;
}
#u128_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:109px;
  word-wrap:break-word;
}
#u129_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
}
#u129 {
  border-width:0px;
  position:absolute;
  left:1052px;
  top:243px;
  width:113px;
  height:88px;
}
#u129_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 102, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u129.selected {
}
#u129_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:109px;
  word-wrap:break-word;
}
#u130_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:88px;
  background:inherit;
  background-color:rgba(51, 255, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
}
#u130 {
  border-width:0px;
  position:absolute;
  left:1052px;
  top:341px;
  width:113px;
  height:88px;
}
#u130_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 102, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u130.selected {
}
#u130_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:109px;
  word-wrap:break-word;
}
#u131_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
}
#u131 {
  border-width:0px;
  position:absolute;
  left:1052px;
  top:439px;
  width:113px;
  height:88px;
}
#u131_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 102, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u131.selected {
}
#u131_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:109px;
  word-wrap:break-word;
}
#u132_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
}
#u132 {
  border-width:0px;
  position:absolute;
  left:1052px;
  top:537px;
  width:113px;
  height:88px;
}
#u132_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 102, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u132.selected {
}
#u132_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:109px;
  word-wrap:break-word;
}
#u133_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:23px;
  background:inherit;
  background-color:rgba(51, 255, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
}
#u133 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:680px;
  width:97px;
  height:23px;
}
#u133_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:93px;
  word-wrap:break-word;
}
#u134_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:23px;
  background:inherit;
  background-color:rgba(51, 255, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
}
#u134 {
  border-width:0px;
  position:absolute;
  left:1201px;
  top:680px;
  width:97px;
  height:23px;
}
#u134_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:93px;
  word-wrap:break-word;
}
#u135_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:23px;
  background:inherit;
  background-color:rgba(51, 255, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
}
#u135 {
  border-width:0px;
  position:absolute;
  left:853px;
  top:680px;
  width:97px;
  height:23px;
}
#u135_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:93px;
  word-wrap:break-word;
}
