body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-362px;
  width:936px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:937px;
  height:2px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:201px;
  width:936px;
  height:1px;
}
#u0_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  height:52px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:124px;
  width:423px;
  height:52px;
  font-size:36px;
  color:#949494;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:423px;
  word-wrap:break-word;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:937px;
  height:2px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:680px;
  width:936px;
  height:1px;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:42px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:581px;
  width:140px;
  height:42px;
  font-size:18px;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:51px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:226px;
  width:265px;
  height:51px;
  font-size:20px;
  text-align:left;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:261px;
  word-wrap:break-word;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:51px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:793px;
  top:448px;
  width:265px;
  height:51px;
  font-size:20px;
  text-align:left;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:261px;
  word-wrap:break-word;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:51px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:793px;
  top:242px;
  width:265px;
  height:51px;
  font-size:20px;
  text-align:left;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:261px;
  word-wrap:break-word;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:51px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:793px;
  top:311px;
  width:265px;
  height:51px;
  font-size:20px;
  text-align:left;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:261px;
  word-wrap:break-word;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:51px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:793px;
  top:379px;
  width:265px;
  height:51px;
  font-size:20px;
  text-align:left;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:261px;
  word-wrap:break-word;
}
