body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1298px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:937px;
  height:2px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:201px;
  width:936px;
  height:1px;
}
#u0_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#949494;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:124px;
  width:423px;
  height:52px;
  font-size:36px;
  color:#949494;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:423px;
  word-wrap:break-word;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:937px;
  height:2px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:680px;
  width:936px;
  height:1px;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:581px;
  width:140px;
  height:42px;
  font-size:18px;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:left;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:226px;
  width:265px;
  height:51px;
  font-size:20px;
  text-align:left;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:261px;
  word-wrap:break-word;
}
#u5_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:left;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:793px;
  top:448px;
  width:265px;
  height:51px;
  font-size:20px;
  text-align:left;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:261px;
  word-wrap:break-word;
}
#u6_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:left;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:793px;
  top:242px;
  width:265px;
  height:51px;
  font-size:20px;
  text-align:left;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:261px;
  word-wrap:break-word;
}
#u7_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:left;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:793px;
  top:311px;
  width:265px;
  height:51px;
  font-size:20px;
  text-align:left;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:261px;
  word-wrap:break-word;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:left;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:793px;
  top:379px;
  width:265px;
  height:51px;
  font-size:20px;
  text-align:left;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:261px;
  word-wrap:break-word;
}
#u9_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:23px;
  background:inherit;
  background-color:rgba(51, 255, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
}
#u9 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:680px;
  width:97px;
  height:23px;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:93px;
  word-wrap:break-word;
}
#u10_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:23px;
  background:inherit;
  background-color:rgba(51, 255, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
}
#u10 {
  border-width:0px;
  position:absolute;
  left:1201px;
  top:680px;
  width:97px;
  height:23px;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:93px;
  word-wrap:break-word;
}
#u11_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:23px;
  background:inherit;
  background-color:rgba(51, 255, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
}
#u11 {
  border-width:0px;
  position:absolute;
  left:853px;
  top:680px;
  width:97px;
  height:23px;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:93px;
  word-wrap:break-word;
}
