body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1308px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u85_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:937px;
  height:2px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:201px;
  width:936px;
  height:1px;
}
#u85_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#949494;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:124px;
  width:423px;
  height:52px;
  font-size:36px;
  color:#949494;
}
#u86_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:423px;
  word-wrap:break-word;
}
#u87_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:937px;
  height:2px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:680px;
  width:936px;
  height:1px;
}
#u87_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:418px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:18px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:212px;
  width:240px;
  height:418px;
  text-align:left;
  line-height:18px;
}
#u88_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:200px;
  word-wrap:break-word;
}
#u89_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:119px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:714px;
  top:294px;
  width:245px;
  height:119px;
  font-size:28px;
}
#u89_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:241px;
  word-wrap:break-word;
}
#u90_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:118px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:28px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:714px;
  top:423px;
  width:245px;
  height:118px;
  font-size:28px;
}
#u90_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:43px;
  width:241px;
  word-wrap:break-word;
}
#u91_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:290px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:left;
  line-height:18px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:1034px;
  top:284px;
  width:274px;
  height:290px;
  font-size:18px;
  text-align:left;
  line-height:18px;
}
#u91_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:-35px;
  width:234px;
  word-wrap:break-word;
}
#u92_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:23px;
  background:inherit;
  background-color:rgba(51, 255, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
}
#u92 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:680px;
  width:97px;
  height:23px;
}
#u92_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:93px;
  word-wrap:break-word;
}
#u93_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:23px;
  background:inherit;
  background-color:rgba(51, 255, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
}
#u93 {
  border-width:0px;
  position:absolute;
  left:1201px;
  top:680px;
  width:97px;
  height:23px;
}
#u93_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:93px;
  word-wrap:break-word;
}
#u94_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:23px;
  background:inherit;
  background-color:rgba(51, 255, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(255, 51, 102, 0.349019607843137);
}
#u94 {
  border-width:0px;
  position:absolute;
  left:853px;
  top:680px;
  width:97px;
  height:23px;
}
#u94_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:93px;
  word-wrap:break-word;
}
